
.container{
  padding: 24px;
}
.code-container{
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
  app-source-code, app-pseudocode{
    width: 100%;
  }

  @media only screen and (min-width: 992px) {
    gap: 0px 12px;
    flex-direction: row;
  }
}
.examples-container{
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-bottom: 20px;
}

